:root {
  --spacing-base: 4px;
  --spacing-1: calc(1 * var(--spacing-base));
  --spacing-2: calc(2 * var(--spacing-base));
  --spacing-4: calc(4 * var(--spacing-base));
  --spacing-8: calc(8 * var(--spacing-base));
  --spacing-12: calc(12 * var(--spacing-base));

  --radius-base: 4px;
  --radius-1: calc(1 * var(--radius-base));
  --radius-2: calc(2 * var(--radius-base));
  --radius-4: calc(4 * var(--radius-base));
  --radius-8: calc(8 * var(--radius-base));

  --fs-base: 1.6rem;
  --fs-08:calc(0.8 * var(--fs-base));
  --fs-1: calc(1 * var(--fs-base));
  --fs-2: calc(1.5 * var(--fs-base));
  --fs-4: calc(2 * var(--fs-base));
  --fs-8: calc(2.5 * var(--fs-base));

  --background: #cecece;
  --foreground: #424242;
  --accent-1: #0C9FF5;
  --accent-2: #0CF54A;
  --accent-3: #0A7CC3;
  --valid: #56F032;
  --invalid: #EF3526;

  --text-gradient: linear-gradient(to right, var(--accent-1), var(--accent-2));
}